* {
    box-sizing: border-box;
}

body {
    background-color: #edeef6;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.modalContainer {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.modalContainer.show {
    pointer-events: auto;
    opacity: 1;
}

.modalInfo {
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 30px 50px;
    width: 500px;
    max-width: 100%;
    text-align: center;
}

.modalInfo h1 {
    margin: 0;
}

.modalInfo p {
    font-size: 14px;
}