.bgPhoto {
    background-image: url("https://images.unsplash.com/photo-1576161787924-01bb08dad4a4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2104&q=80");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    filter: blur(0px);
    position: relative;
}

.alignmentCenter {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.text {
    position: absolute;
    font-size: 50px;
    color: #fff;
    opacity: 1;
}