.alignmentCenter {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.bgCard {
    width: 50%;
    background-color: #fff;
    border-radius: 0.5rem;
}