.alignmentCenter {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

body {
    background-color: #f6f7fb;
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
  }

.progressContainer {
    display: flex;
    justify-content: space-between;
    position: relative;
    max-width: 100%;
    width: 350px;
}

.progressContainer::before {
    content: '';
    background-color: #e0e0e0;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 5px;
    width: 100%;
    z-index: -1;
}

.progress {
    background-color: #3498db;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 5px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
}

.transition {
    transition: 0.4s ease;
}
