@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

body {
    font-family: 'Muli', sans-serif;
    background-color: #2b88f0;
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.container {
    width: 500px;
}

.container textarea {
    width: 100%;
    height: 100px;
    border-style: none;
    padding: 10px;
    font-size: 15px;
    font-family: inherit;
}

#tags {
    margin-top: 10px;
}

.tag {
    background-color: #f0932b;
    color: #fff;
    border-radius: 50px;
    padding: 10px 20px;
    margin: 0 5px 10px 0;
    font-size: 14px;
    display: inline-block;
  }
